<ion-view view-title="{{'home.title' | translate | capitalize}}">
  <ion-content>
    <div class="list card">
      <div class="item item-image">
        <img src="img/home.jpg">
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        {{'home.txt' | translate | capitalize}}
      </div>
    </div>
    <div class="list card">
      <div class="item" ng-click="homeCtrl.changeLanguage('fr')">Français</div>
      <div class="item" ng-click="homeCtrl.changeLanguage('en')">English</div>
    </div>
  </ion-content>
</ion-view>
